#wrapper_inner_passwordedit {
	width: 550px;
	height: 280px;
	border: 1px solid #F8F8F8;
	background-color: #2d2d2d;
	margin: 0 auto;
}

#passwordcheck_guidecontent {
	font-size: 20px;
	color: #F8F8F8;
	margin-left: 15px;
	margin-top: 15px;
	margin-bottom: 20px;
	user-select: none;
}

#passwordtext {
	width: 400px;
	height: 32px;
	font-size: 15px;
	border: 0;
	outline: none;
	background-color: rgb(233, 233, 233);
	margin-left: 15px;
	margin-bottom: 10px;
	padding-left: 10px;
}

#passwordcheckbutton {
	background-color: #2d2d2d;
	text-align: right;
	width: 550px;
	height: 30px;
	float: left;
	display: flex;
	justify-content: flex-end;
}