* {
	margin: 0;
	padding: 0;
}

#wrap {
	width: 100vw;
	margin: 0 auto;
	background-color: #F8F8F8;
}

body {
	width: 100vw;
	height: 100%;
	margin: 0;
	background-color: #F8F8F8;
}

header {
	width: 100vw;
	height: 100px;
	color: white;
	background-color: #363636;
	margin: 0 auto;
	font-family: 'Noto Sans KR', sans-serif;
}

nav {
	width: 100vw;
	height: 50px;
	margin: 0 auto;
	background-color: #363636;
}

section {
	width: 100vw;
	min-height: 780px;
	height: 100vh;
	/*height: 780px;*/
	background-color: #F8F8F8;
	margin: 0 auto;
}

footer {
	width: 100vw;
	height: 150px;
	background-color: #363636;
	margin: 0 auto;
}